
@font-face {
    src: url('../fonts/OpenSans-Regular.ttf');
    font-family: 'OpenSans Regular';
}
@font-face {
    src: url('../fonts/OpenSans-Italic.ttf');
    font-family: 'OpenSans Italic';
}
@font-face {
    src: url('../fonts/OpenSans-Bold.ttf');
    font-family: 'OpenSans Bold';
}

@font-face {
    src: url('../fonts/RobotoSlab-Bold.ttf');
    font-family: 'RobotoSlab-Bold';
}
@font-face {
    src: url('../fonts/RobotoSlab-Regular.ttf');
    font-family: 'RobotoSlab-Regular';
}





body {
    font-family: 'OpenSans Regular', Arial, Helvetica, sans-serif;
    background-color: rgb(214, 214, 245);
    margin: 10px; 
}

.h1, .h2 {
    font-family: 'RobotoSlab-Regular';
}

.h1 {
    color: rgb(41, 28, 138);
    text-align: center;  /*в мобильной версии не работает центровка*/
}



.nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 1px solid grey;
    margin: 25px -10px;
}
.nav_button {
    font-size: 120%;
    margin-left: 20px;
    padding: 5px;
}
.nav_link {
    color: black;
    text-decoration:none;
    padding: 10px 15px;
    }
.nav_link:hover {
    color:blueviolet;
    font-weight: bold;
    /* как при этом границу кнопки сделать фиксированной?
    */
}



.prolog-avatar-box {
    display: flex;
    justify-content: space-around;
    }
.avatar {
    border: 2px solid rgb(102, 27, 159);
}    
.ostrovsky {
    align-self: flex-start;
    width: 740px;
    background-color: rgb(173, 170, 167);
    padding: 0px  20px;
    margin: 0 20px 20px 15px;
}





.blok-about {
    display: grid;
    border-top: 1px solid grey;
    margin: 20px -10px 10px -10px;
    rid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    grid-template-rows: auto;  /*не работает адаптивная - при сужении экрана - .about-text просто исчезает, а не перескакивает выше*/
   }


   .blok_name {
    display: flex;
    padding: 10px;
    }




.spegel {
    grid-column:  1/3;   
}
.my_youtube {
    grid-column:  1/2;   
}
 {
    grid-column:  2/3;
    align-self: center;
    margin-left: 20px;
}





.h2 {
    color:rgb(14, 142, 20);
    padding: 5px;
    border-top: 5px solid;
    border-left: 5px solid;
    margin: 0 0 0 5px;
}

div[class^="blok-"] {
    margin-bottom: 40px;
}





.footer {
    margin-top: 80px;
}
.blok-contacts .h2 {
    color:rgb(14, 142, 20);
    padding: 5px;
    margin: 0 0 0 5px;
    border: 0;
} 
.ul-contacts {
    list-style: none;
    }




